/*CSS modifica el estilo*/
* {
  margin: 0;
  padding: 0; /*da espacio al elemento desde los bordes*/
  box-sizing: border-box;
  color: #fff;
}

h1 {
  text-align: center;
}

/* clases flex*/
.flex {
  display: flex;
}

/* Logo optica*/
.logoOptica {
  width: 100px;
  border-radius: 50%;
}

/* Estilo body*/
body {
  background-image: url("/img/patronImagenes.jpg");

  /*Forma de llevar el footer al fondo*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.pAnimation {
  display: flex;
  justify-content: center;
  align-items: center;

  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* Estilos Header */
header {
  background: #0e0e0e;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  width: 100%;
  max-width: 1500px;
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  margin: 1rem 1rem;
}

.headerText {
  margin: 2rem;
}

/* Pagina general */


/*Footer*/
footer {
  /*Forma de llevar el footer al fondo*/
  padding: 20px;
  margin-top: auto;
  background-color: #0e0e0e;
}

.socialNetWork {
  display: flex;
  justify-content: center;
  align-self: end;
}
.copyRight {
  display: flex;
  justify-content: center;
  align-items: end;
}

/* Modificaciones en la barra de navegacion*/

nav {
  background-color: #0e0e0e;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.navBar {
  backdrop-filter: blur(10px);
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  justify-content: end;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  /*background-color: #0e0e0e;*/
}

li {
  float: 0;
  /*
  list-style: none;
  padding: 4px;
  background: #b8b8b8;
  border-radius: 4px;
  */
}

li a{
  display: block;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  padding: 10px 14px; 
}

li:hover {
  background-color: #555;
  color: white;

  /*Efecto de animacion*/
  /*
  transform: translateY(-2px);
  box-shadow: -4px 4px #6b6b6b;
  transition: all 300ms;
  */
}
.activate{
  background-color: #555 ;
  
}

/* Modificaciones de imagenes */
.opticaImg{
  filter: grayscale(10%);
  width: 1920px;
  max-width: 100%;
  height: 800px;
  /*height: auto;*/

}

/* Modificaciones en el body*/
.tittle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textBox {
  padding: 1px;
  /*width: auto;*/
  /*border: 1px solid black;*/
  outline: solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  color: black;
}
/* Horarios de atencion*/
.day {
  font-weight: bold;
}
.horarios {
  font-style: italic;
  font-size: 2rem;
}

/* Estilo tablas */
.titulosTablas {
  background-color: rgb(255, 169, 10);
  font-style: italic;
}
.tabla {
  background-color: white;
}

/* Formato del form */
.formFormat {
  border: 1px solid black;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formFormat input {
  width: 90%;
  height: 30px;
  margin: 0.5rem;
}
.formFormat button {
  padding: 0.5em 1em;
  border: none;
  background: rgb(100, 200, 255);
  cursor: pointer;
}

/* Formato de la tabla*/

.tableBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
